# Environment & secrets
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
staticfiles/
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db